<div class="topbar">
    <div class="container">
      <div class="vertical center">
      	<%= link_to 'Get This, Make That', root_path %> > About
    </div>
 </div>
</div>
<p align="center"><%=image_tag("PaintCansLong.jpg", alt: "PaintCansLong", :width=> "700", :height=> "80") %></p align="center"><br>
<div class="container">
<p><h1><font color="#B00000">Get This, Make That - your source to share or snag DIY home improvement materials and tools.</font color="#B00000"></h1><p><br>
<p>You painted the bathroom trim tourquoise right? It looks fabulous! But are you sure that you'll repaint it the same color in 4 years? Well then, how long will you keep that half a gallon of paint in your closet or basement?</p><br>
<p>Last summer you bought 2 bags of cement to use for the brick wall in the garden. Since, you've pushed the remaining, half empty bag around the basement more than a couple of times. You really don't want to throw it away. It's still usable, right?</p><br>
<p>Okay, don't keep those home improvement materials. Share them! Post them on Get This, Make That for neighbors who need a little bit of this or that.</p><br>
<p>And if you need a dash of something to experiment with, for a small project or to finish a task, you can check out the free postings on Get This, Make That.</p><br>
<p><font color="#B00000">For do-it-yourself home improvement, Get This, Make That helps you get the job done!</font color="#B00000"></p>
</div>
