<div class="topbar">
    <div class="container">
      <div class="vertical center">
      	<%= link_to 'Get This, Make That', root_path %> > Contact
      </div>
 	</div>
</div>
<p align="center"><%=image_tag("PaintCansLong.jpg", alt: "PaintCansLong", :width=> "700", :height=> "80") %></p align="center"><br>
<div class="container">
	<p><Get This, Make That</p><br>
	<p><a href="get_this@att.net">get_this@att.net</a></p><br>
	<p><a href="https://www.facebook.com/Get-This-Make-That-716163058477283/?fref=ts" target=_blank>Get This, Make That Facebook</a></p>
</div>