 <div class="topbar">
    <div class="container">
      <div class="vertical center">
        <%= link_to 'Get This, Make That', root_path %> > Personal Safety
    </div>
 </div>
</div>
<p align="center"><%=image_tag("PaintCansLong.jpg", alt: "PaintCansLong", :width=> "700", :height=> "80") %></p align="center"><br>
<div class="container">
  <p><font color="#B00000">Regarding your information:</font color="#B00000"></p><br>
  <ul>
	  <li>1.  We take precautions to prevent unauthorized access to or misuse of data about you.</li>
    <li>2.  We do not engage in cross-marketing or link-referral programs.</li>
    <li>3.  We do not use tracking devices for marketing purposes.</li>
    <li>4.  We do not send you unsolicited communications for marketing purposes.</li>
    <li>5.  We do not engage in affiliate marketing.</li>
  </ul>
</div>