 <div class="topbar">
    <div class="container">
      <div class="vertical center">
        <%= link_to 'Get This, Make That', root_path %> > Personal Safety
    </div>
 </div>
</div>
<p align="center"><%=image_tag("PaintCansLong.jpg", alt: "PaintCansLong", :width=> "700", :height=> "80") %></p align="center"><br>
<div class="container">
  	<p><font color="#B00000">How to stay safe.</font color="#B00000"></p><br>
    <p>When meeting someone for the first time, please remember to:</p>
    <p>1.  Insist on a public meeting place like a cafe, bank, or shopping center.</p>
    <p>2.  Do not meet in a secluded place, or invite strangers into your home when you are alone.</p>
    <p>3.  Be especially careful buying/selling high value items.</p>
    <p>4.  Tell a friend or family member where you're going.</p>
    <p>5.  Take your cell phone along if you have one.</p>
    <p>6.  Consider having a friend accompany you.</p>
    <p>7.  Trust your instincts. If a person or situation doesn't feel right, don't go or leave.</p>
    </p>
</div>