 <div class="topbar">
    <div class="container">
      <div class="vertical center">
        <%= link_to 'Get This, Make That', root_path %> > Scams
    </div>
 </div>
</div>
<p align="center"><%=image_tag("PaintCansLong.jpg", alt: "PaintCansLong", :width=> "700", :height=> "80") %></p align="center"><br>
<div class="container">
  	<p><font color="#B00000">How to avoid scams:</font color="#B00000"></p><br>
    <ol>
      <li>1.  Do not offer payment to anyone you have not met in person.</li>
      <li>2.  Beware offers involving shipping - deal with locals you can meet in person.</li>
      <li>3.  Never wire funds (e.g. Western Union) - anyone who asks you to is a scammer.</li>
      <li>4.  Don't accept cashier/certified checks or money orders. Banks cash fakes, then hold you responsible.</li>
      <li>5.  Transactions are between users only, no third party provides a "guarantee".</li>
      <li>6.  Never give out financial info (bank account, social security number, PayPal account, etc).</li><
    </ol>
</div>